*{
    text-align: center;
    font-family: Cherry Bomb One;
    -webkit-text-stroke: 0.1vw #a94b28;
    color: #e6c8ae;
    display: absolute;
}

body{
    padding: 0;
    margin : 1vw;
    background-color: #4f220d;
    display: fixed;
    overflow: hidden;
}

.keyboardRow{
  display: flex;
  flex-direction: row;
  margin: 0.5vw 0vw;
}

.keyboardKey, .clickedKey{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    margin: 0vw 1.35vw;
    border-radius: 1vw;
    font-size: 150%;
}

.keyboardKey{
    color: #aa4c28;
    -webkit-text-stroke: 0.1vw #4f220d;
    background-color: #e6c8ae;
    border: 0.2vw solid #a94b28;
}

.clickedKey{
    border: 0.2vw solid #723318;
    background-color: #a94b28;
    color: #713217;
    -webkit-text-stroke: 0.1vw #723318;
}

.keyboardKey:hover{
    border: 0.2vw solid #4f220d;
    background-color: #aa4c28;
    color: #e6c8ae;
}


#phraseText{
    height: 20vh;
    font-size: 250%;
    -webkit-text-stroke: 0.175vw #a94b28;
}

#container{
  background-image: linear-gradient(to bottom, #ca763f, #db894f);
  display: fixed;
  border-radius: 5vw;
}


#ratAndKeys{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#keyboard, #Citrine{
    height: 65vh;
    width: 50vw;
}


section{
    width: 100vw;
}

.options{
    font-size: 225%;
    -webkit-text-stroke: 0.1vw #a94b28;
}

video{
    border-radius: 5vw;
    width: 35vw;
}

#bottomRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    padding: 0vw;
    margin: 0vw;
    text-decoration: none;
    font-size: 200%;
}