*{
    text-align: center;
    font-family: Cherry Bomb One;
    background-color: linear-gradient(rgb(230, 200, 174), rgb(230, 183, 145));
}

body{
    margin: 0;
    padding: 0;
}

#phraseText{
    height: 20vh;
}

#ratAndKeys{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#keyboard, #Citrine{
    height: 65vh;
    width: 50vw;
}

section{
    width: 100vw;
}

#triesAndWinStatus{
    font-size: 225%;
}