*{
    margin: 0vw;
    padding: 0vw;
    font-family: Cherry Bomb One;
    text-align: center;
    -webkit-text-stroke: 0.1vw #4f220d;
    color: #a94b28;
}

h1{
    text-decoration: underline;
    font-size: 275%;
}

h3{
    font-size: 220%;
}

p{
    font-size: 180%;
    margin: 7vw 0vw;
}

body{
    background-image: linear-gradient(to bottom, #ca763f, #db894f);
    margin: 0vw 8.75vw;
    overflow: hidden;
}

section{
    display: flex;
    flex-direction: row;
}

div{
    background-color: #e6c8ae;
    border-radius: 5vw;
    width: 22.5vw;
    padding: 2.5;
    margin: 2.5vw;
}

#title{
    font-size: 400%;
}

a{
    text-decoration: none;
}

#title, #returnText{
    color: #e6c8ae;
    -webkit-text-stroke: 0.1vw #a94b28;
}